@import "../../assets/GlobalVariables.scss";

.footbar {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 60px;
    width: 100%;
    background-color: white;
    z-index: 1;

    .fa-solid {
        color: #cacfd2;
        transition-property: color, transform;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        &.active {
            color: #ff7f50;
            transform: scale(1.1);
        }
    }

    .icon-list {
        padding: 0;
        margin: 0 auto;
        height: 100%;
        width: var(--page-width);
        max-width: var(--page-max-width);
        list-style-type: none;

        display: flex;
        align-items: center;
        justify-content: space-around;

        li {
            margin: 0;
            user-select: none;
        }

        button {
            position: relative;
            background-color: transparent;
            border: none;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: transparent;
                width: 60%;
                height: 100%;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                z-index: -1;
                border-radius: inherit;
            }

            &:hover::after {
                opacity: 1;
            }
        }
    }
}
