@import "../assets/GlobalVariables.scss";

.container {
    $font-large: 1.5rem;
    $font-small: 1.2rem;

    width: var(--page-width);
    max-width: var(--page-max-width);
    margin: 0 auto $footbar-height auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - $footbar-height);
    .cart-container__top {
        width: 100%;
        .cart-total {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .cart-total-text {
                font-family: $font-primary;
                font-size: $font-large;
                // font-weight: 900;
                color: $color-dark;
            }
            .cart-total-price {
                font-family: $font-primary;
                font-size: $font-large;
                font-weight: 900;
                color: $color-dark;
            }
        }
    }
    .cart-container__bottom {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .cart-checkout-btn {
            border: none;
            font-family: $font-primary;
            border-radius: 9999px;
            background-color: $color-primary;
            color: white;
            padding: 1rem 4rem;
            text-transform: uppercase;
            margin: 2.2rem 0 2rem 0;
            font-weight: bold;
            font-size: $font-small;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
        }
    }
    .cart-empty {
        &.cart-container__top,
        &.cart-container__bottom {
            display: none;
        }
    }
    .cart-container__empty:not(.cart-empty) {
        display: none;
    }
    .cart-container__empty {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - $footbar-height);
        font-size: $font-large * 1.5;
        font-family: $font-primary;
        font-weight: bold;
        color: $color-dark;
    }
}
