.container {
    width: 90%;
    max-width: 450px;
    margin: 2rem auto 60px auto;
    input {
        $input-height: 4rem;
        $input-width: 100%;

        $inner-horizontal-padding: 1.4rem;
        $inner-vertical-padding: 0.6rem;
        font-size: 1.2rem;
        width: calc($input-width - $inner-horizontal-padding * 2);
        height: calc($input-height - $inner-vertical-padding * 2);
        border: 0px;
        border-radius: 12px;
        color: rgba(0, 0, 0, 0.5);
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;
        padding: 0.8rem 1.2rem;
        &:focus {
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        }
    }
}
