@import "../../assets/GlobalVariables.scss";

.container {
    width: $page-width;
    max-width: $page-max-width;
    margin: 0 0 $footbar-height 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .image {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 20px;
    }
    .foodname {
        font-size: 20px;
        font-weight: bold;
        flex-grow: 1;
    }
    .price {
        position: absolute;
        margin-top: 10px;
        margin-left: 300px;
        font-size: 20px;
        font-weight: 600;
        color: #ff523b;
    }
    .price:after {
        content: "đ";
    }
    .text {
        margin-top: 10px;
        margin-left: 5px;
        color: gray;
    }
    .time {
        margin-top: 5px;
        margin-left: 5px;
        font-size: 50px;
        font-weight: bold;
    }
    .cancel {
        color: black;
        font-size: 20px;
        font-weight: 500;
        user-select: none;
    }
    .track {
        color: white;
        font-size: 20px;
        font-weight: 500;
        user-select: none;
    }
    .cancel-button {
        cursor: pointer;
        background-color: white;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: none;
        padding: 5px;
        border-radius: 20px;
        width: 150px;
        height: 50px;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
    }
    .cancel-button:hover {
        background-color: #cacfd2;
    }
    .track-button {
        cursor: pointer;
        background-color: #ff7f50;
        margin-top: 20px;
        margin-left: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: none;
        padding: 5px;
        border-radius: 20px;
        width: 150px;
        height: 50px;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
    }
    .track-button:hover {
        background-color: lightsalmon;
    }
}
