$page-width: 90%;
$page-max-width: 450px;
$footbar-height: 60px;

$drop_shadow: 0 15px 15px rgba(0, 0, 0, 0.1);

$main-font: "Roboto Slab";

$color-main: #fe724c;
$color-alt: #ffc529;
$color-dark: #1a1d26;
$color-gray: #9a9fae;

$app_name_font: "Roboto Slab";
$app_name_font_size: 1.4rem;
$welcome_message_font: "Roboto Slab";
$welcome_message_font_size: 3rem;

$hamburger_menu_font: "Roboto Slab";
