:root {
    --page-width: 85%;
    --page-max-width: 450px;
}

@media screen and (width <= 400px) {
    :root {
        --page-width: 90%;
    }
}

$footbar-height: 60px;
$drop-shadow: 0 15px 15px rgb(0 0 0 / 10%);
$font-primary: "SVN-Sofia Pro";
$color-primary: #fe724c;
$color-alt: #ffc529;
$color-dark: #1a1d26;
$color-gray: #9a9fae;
$app-name-font: $font-primary;
$app-name-font-size: 1.4rem;
$welcome-message-font: $font-primary;
$welcome-message-font-size: 3rem;
$hamburger-menu-font: $font-primary;

body {
    margin: 0;
}
