@import "../../assets/GlobalVariables.scss";

.label__container {
    $icon-size: 2rem;

    border: none;
    height: auto;
    border-radius: 9999px;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    box-shadow: $drop-shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    transition-property: background-color, transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &.label__container--active {
        background-color: $color-primary;
        transform: scale(1.1);
        .label-text {
            color: white;
        }
    }

    .label-icon__container {
        width: $icon-size;
        height: $icon-size;
        font-size: $icon-size;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 9999px;
        padding: 1rem;
    }

    .label-text {
        margin: 1rem 0 0.5rem 0;
        font-size: 1rem;
        font-family: $font-primary;
        text-align: center;
        transition: color 0.2s ease-in-out;
    }
}
