@import "../../assets/GlobalVariables";

.label-container {
    $icon-size: 2rem;

    align-items: center;
    background-color: white;
    border: none;
    border-radius: 9999px;
    box-shadow: $drop-shadow;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 1rem;
    -webkit-tap-highlight-color: transparent;
    transition-duration: 0.2s;
    transition-property: background-color, transform;
    transition-timing-function: ease-in-out;
    
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    .label-text {
        font-family: $font-primary;
        font-size: 1rem;
        margin: 1rem 0 0.5rem;
        text-align: center;
        transition: color 0.2s ease-in-out;
    }

    &.label-container-active {
        background-color: $color-primary;
        transform: scale(1.1);

        .label-text {
            color: white;
        }
    }

    .label-icon-container {
        width: $icon-size;
        height: $icon-size;
        align-items: center;
        background-color: white;
        border-radius: 9999px;
        display: flex;
        font-size: $icon-size;
        justify-content: center;
        padding: 1rem;
    }
}
