* {
    margin: 0;
    padding: 0;
  }
  #Profilepage-title{
    position: absolute;
    text-align: center;
    color:white;
    left: 9.5%;
    top: 13%;
    font-size: 16px;
    z-index: 0;
  }
  #Background{
    /* position: relative; */
    background: linear-gradient(to bottom, #000000 90%, #333333 10%);
    height: 91.7vh;
  }
  #ChangeAvatar{
    position: absolute;
    text-align: center;
    color:white;
    top: 48.5%;
    left: 7.9%;
    font-size: 16px;
    z-index: 0;
  }
  #Avatar{
    height: 7em;
    width: 7em;
    top: 20%;
    left: 8%;
    background-color: rgb(199, 143, 41);
    position: absolute;
  }
  
  #Infor{
    position: absolute;
    z-index: 0;
    color: white;
    top: 13%;
    left: 40%;
    
  }
  #Infor > li{
    list-style-type: none;
    padding: 7px;
  }
  .LabelUsername{
    background-color: black;
    color: white;
  }
  #Username{
    background-color: black;
    color: white;
  }
  .Username{
    display: inline-block;
  }
  #Sex{
    background-color: black;
    color: white;
  }
  .Sex{
    display: inline-block;
  }
  #BirthDate{
    background-color: black;
    color: white;
  }
  .BirthDate{
    display: inline-block;
  }
  #Email{
    background-color: black;
    color: white;
  }
  .Email{
    display: inline-block;
  }
  #PhoneNumber{
    background-color: black;
    color: white;
  }
  .PhoneNumber{
    display: inline-block;
  }
  #Button-Savechange{
    position: absolute;
    font-size: 15px;
    color:#333333;
    top: 55%;
    left: 40.6%;
    background-color:aquamarine;
  }
